.container {
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 300px;
    padding-bottom: 36px;
    color: rgb(255, 255, 255);
}

.button {
    font-size: 79px;
    width: 550px;
    height: 118px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 255);
}
