.container {
    align-items: center;
    justify-content: center;
    -unity-font: url('project://database/Assets/UI/GraphicsAndFont/Mont-HeavyDEMO.otf?fileID=12800000&guid=66d1f5d1d3213054b862bc2e6cf11908&type=3#Mont-HeavyDEMO');
}

.title {
    font-size: 300px;
    padding-bottom: 36px;
    color: rgb(255, 255, 255);
}

.button {
    font-size: 79px;
    width: 550px;
    height: 118px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
